body{font-family: 'Droid Sans', sans-serif;}
.field{text-align: center;}
#campo-password-login {margin-bottom: 0}
/*.login-panel {margin-top: 5%;}*/
.btn-entrar{
	border-radius: 0;
	width: 246px;
	padding: 5px;
}
.btn-registro{
	border-radius: 0;
	padding: 5px;
	font-size: 16px;
}
#pie{
	text-align: center;
	margin-top: 30px;
}
.logo-titulo{
	font-family: 'Cinzel', serif;
	font-size: 20px;
}
.titulo{font-weight: bold;}
.login-header{
	margin-top: 5px;
	width: 500px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	padding: 10px;
	margin-left: -20px;
	border-bottom-right-radius: 30px;
}
h1{font-weight: normal;}
.form-registro{
	text-align: center;
	padding-top: 20px;
}
.btn{font-family: 'Open Sans', sans-serif;}
.panel-tecnico{margin-top: 10px;}
.btn .caret{margin-bottom: 8px;}
.dropdown-menu>li>a{text-align: left;}
#texto-busqueda{margin-top: 9px;}
#menu-principal{
	min-height: 100px;
}
#ultimas-recetas{
	min-height: 100px;
}
#estadisticas{
	min-height: 100px;
}
.panel {
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading {
	padding: 0px 15px;
	margin: -15px -15px 15px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #dddddd;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 17.5px;
	font-weight: 500;
	text-align: center;
}

.panel-primary { border-color: rgb(66, 139, 202);}
.panel-info {border-color: #bce8f1;}
.panel-success {border-color: #d6e9c6;}
.panel-danger {border-color: #eed3d7;}


.panel-info .panel-heading {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.panel-success .panel-heading {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.panel-danger .panel-heading {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}
.enlaces-menu{
	display: block;
	padding: 5px;
	padding-left: 10px;
	cursor: pointer;
	background-color: #d9edf7;
	border-radius: 5px;
	margin-bottom: 5px;
}
.enlaces-menu:hover{
	text-decoration: none;
	color: white;
	background-color: blue;
}
.enlaces-ultimas-recetas{
	display: block;
	border: 1px solid rgb(124, 194, 124);
	padding: 20px;
	font-size: 15px;
	margin-bottom: 10px;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	border-radius: 5px;
}
.enlaces-ultimas-recetas:hover{
	text-decoration: none;
	background-color: green;
	color: white;
}
.enlaces-ultimas-recetas>i{float:right;}
.accordion-toggle{
	background-color: #d9edf7;
}
.accordion-group{
	border-color: #bce8f1;
	margin-bottom: 5px;
}
.accordion-inner{border-top: none;}
.form-rec-nueva, .form-prod-nuevo{
	text-align: center;
}
.form-rec-nueva>select{width: 300px;}
.form-rec-nueva>h4{
	text-align: left;
	padding-left: 100px;
}
.form-remove-item{font-size: 25px;}
.acciones{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

tr[class='agitable']:hover{
	background-color: #BAC5FF;
}
.id {color:red;}
.receta{
	margin-left: 150px;
	margin-right: 150px;
	background-color: rgb(240, 240, 240);
	padding: 20px 30px;
}

.divider-receta{
	margin: 5px 0 0 0;
}